.card-title {
  font-family: "Carter One", cursive;
  color: gold;
}
.jumbotron {
  background-color: black;
}
.card-text {
  font-family: "Carter One", cursive;
  font-family: "Arapey", serif;
  font-family: "Gudea", sans-serif;
}
