.card-title {
  font-family: "Carter One", cursive;
  color: gold;
}
.jumbotron {
  background-color:#000019;
}
.card-text {
  font-family: "Carter One", cursive;
  font-family: "Arapey", serif;
  font-family: "Gudea", sans-serif;
}
#form1{
    text-align: center;
    padding-top:50px;
}
#day,#month,#year{
    width: 100px;
}
#first,#second{
    text-align: center;
    /* padding-top:10px;
    padding: 30px; */
    border-radius:10px;
}
p{
    text-align: center;
    font-family: 'Carter One', cursive;
  font-size: 20px;
}
